@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;

  @include m.large-tablet {
    max-width: 860px;
  }

  @include m.tablet {
    max-width: 688px;
  }

  @media (max-width: 660px) {
    padding: 0;
  }
}

.tabsWrapp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  background-color: v.$pure;
  color: v.$primary;
  border-radius: 8px;
  width: 100%;
  height: 40px;

  @media (max-width: 660px) {
    border-radius: 0;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color v.$transition, color v.$transition;
}

.active {
  background-color: v.$primary;
  color: v.$pure;
}
