@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.overlay {
  position: fixed;
  top: -16px;
  right: -14px;
  width: 100vw;
  height: 100vh;
  z-index: 4;

  @include mobile {
    right: 0;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  padding: 56px 64px 46px;

  @include mobile {
    padding: 56px 48px 32px;
    align-items: center;
  }
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;

  @include mobile {
    top: 24px;
    right: 24px;
  }
}

.svg {
  width: 24px;
  height: 24px;
  stroke: $pure;
  transition: stroke $transition;

  &:hover {
    stroke: $accent;
  }
}

.logoWrapp {
  display: none;

  @include mobile {
    display: flex;
  }
}

.linksList {
  color: $pure;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.78px;
  text-transform: uppercase;

  @include mobile {
    gap: 24px;
    align-items: center;
  }

  @media (max-width: 359px) {
    font-size: 22px;
    gap: 16px;
  }
}

.item {
  display: flex;
  width: fit-content;
  transition: color $transition;

  &:hover {
    color: $accent;
  }
}

.isActive {
  color: $accent;
}
