@use "@/shared/styles/mixins" as m;

.wrapper {
  //margin-top: 99px;
  padding-top: 64px;

  @include m.large-tablet {
    //margin-top: 95px;
    padding-top: 60px;
  }

  @include m.mobile {
    //margin-top: 84px;
    padding-top: 40px;
  }
}

.contentWrapp {
  margin-top: 36px;
  margin-bottom: 60px;
  display: flex;
  gap: 16px;

  @include m.large-tablet {
    flex-direction: column;
    gap:40px;
    margin-bottom: 40px;
  }

  @include m.mobile {
    margin: 32px 0;
    gap:32px;
  }
}
