.form {
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 16px;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  @media (max-width: 989px) {
    margin-bottom: 16px;
  }

  @media (max-width: 550px) {
    padding: 24px 16px;
  }
}

.inputAndSelectWrapp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.privacyPolicyBlock {
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 24px 16px;
  border-radius: 16px;
}

.titleBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: start;
  }
}

.btnWrapp {
  width: 110px;
  margin-top: 40px;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.checkBoxWrapp {
  display: flex;
  padding: 8px;
  gap: 8px;
  align-items: center;
}

.checkBox {
  appearance: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url(../../../../../../public/icons/checkbox.svg);
  background-size: 16px 16px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

.checkBox:checked {
  background-image: url(../../../../../../public/icons/checkbox-active.svg);
  background-size: 16px 16px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}
