@use "@/shared/styles/mixins" as m;

.infoBlcok {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 32.4%;
  height: fit-content;

  @include m.large-tablet {
    position: static;
    width: 100%;
  }
}
