@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.headerLogo {
  fill: #7230ff;
  width: 174px;
  height: 55px;

  @media (max-width: 989px) {
    width: 160px;
    height: 51px;
  }

  @media (max-width: 550px) {
    width: 136px;
    height: 39px;
  }

  @media (max-width: 360px) {
    width: 126px;
    height: 36px;
  }
}

.footerLogo {
  fill: #7230ff;
  width: 464px;

  @media (max-width: 989px) {
    width: 424px;
  }

  @media (max-width: 908px) {
    width: 336px;
  }

  @media (max-width: 550px) {
    width: 100%;
    height: auto;
  }
}

.burgerLogo {
  fill: #fff;

  width: 100%;
  height: auto;
}

.link {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.foolWidthLink {
  @media (max-width: 550px) {
    width: 100%;
  }
}
