@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.headerLogo {
  fill: #7230ff;
  width: 174px;
  height: 55px;

  @include m.large-tablet {
    width: 160px;
    height: 51px;
  }

  @include m.mobile {
    width: 136px;
    height: 39px;
  }

  @media (max-width: 360px) {
    width: 126px;
    height: 36px;
  }
}

.footerLogo {
  fill: #7230ff;
  width: 464px;

  @include m.large-tablet {
    width: 424px;
  }

  @media (max-width: 908px) {
    width: 336px;
  }

  @include m.mobile {
    width: 100%;
    height: auto;
  }
}

.burgerLogo {
  fill: #fff;

  width: 100%;
  height: auto;
}

.link {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.foolWidthLink {
  @include m.mobile {
    width: 100%;
  }
}
