@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.linksList {
  color: $pure;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px 56px;
  padding: 16px 0;

  @media (max-width: 989px) {
    gap: 12px 32px;
  }

  @media (max-width: 908px) {
    gap: 12px 16px;
  }

  @media (max-width: 767px) {
    width: 100%;
    justify-content: space-around;
  }

  @media (max-width: 550px) {
    width: 100%;
    justify-content: space-between;
    gap: 12px;
  }
}

.item {
  transition: color $transition;

  &:hover {
    color: $accent;
  }
}

.link {
  @media (max-width: 340px) {
    font-size: 12px;
  }
}
