@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.linksList {
  color: v.$pure;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px 56px;
  padding: 16px 0;

  @include m.large-tablet {
    gap: 12px 32px;
  }

  @media (max-width: 908px) {
    gap: 12px 16px;
  }

  @include m.tablet {
    width: 100%;
    justify-content: space-around;
  }

  @include m.mobile {
    width: 100%;
    justify-content: space-between;
    gap: 12px;
  }
}

.item {
  transition: color v.$transition;

  &:hover {
    color: v.$accent;
  }
}

.link {
  @media (max-width: 340px) {
    font-size: 12px;
  }
}

.isActive {
  color: v.$accent;
}
