@import "@/shared/styles/mixins";

.wrapper {
  margin-top: 99px;
  padding-top: 100px;

  @media (max-width: 989px) {
    margin-top: 95px;
    padding-top: 80px;
  }

  @media (max-width: 550px) {
    margin-top: 84px;
    padding-top: 60px;
  }
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: 660px) {
    grid-template-columns: 1fr;
  }
}
