@use "@/shared/styles/mixins" as m;

.wrapper {
  margin-top: 99px;
  padding-top: 100px;

  @include m.large-tablet {
    margin-top: 95px;
    padding-top: 80px;
  }

  @include m.mobile {
    margin-top: 84px;
    padding-top: 60px;
  }
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: 660px) {
    grid-template-columns: 1fr;
  }
}
