@use "@/shared/styles/variables" as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}

.btnsWrapp {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.48px;
}

.svg {
  transition: transform v.$transition;
}

.openSvg {
  transform: rotate(180deg);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
