@import "@/shared/styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}

.btnsWrapp {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  text-transform: none;
}

.svg {
  transition: transform $transition;
}

.openSvg {
  transform: rotate(180deg);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
