@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  padding: 16px;
  border-radius: 16px;
  background-color: v.$pure;
  box-shadow: v.$shadow;
}

.title {
  margin-bottom: 32px;

  @include m.mobile {
    margin-bottom: 24px;
  }
}

.btn {
  margin-top: 40px;
  margin-left: auto;
  width: 91px;

  @include m.mobile {
    width: 100%;
  }
}

.checkboxWrapp {
  padding: 0 8px;
  margin-top: 24px;
}
