@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.btnWrapp {
  display: flex;
  width: 207px;
  margin-top: 60px;

  @include m.mobile {
    width: 100%;
    margin-top: 40px;
  }
}

.slider {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include m.mobile {
    display: none !important;
  }
}

.mobGallery {
  display: none;

  @include m.mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 15px;
  }
}
