@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.btnWrapp {
  display: flex;
  width: 207px;
  margin-top: 60px;

  @include m.mobile {
    width: 100%;
    margin-top: 40px;
  }
}

.slider {
  max-width: 71%;
  margin: 0 232px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include m.small-desktop {
    margin: 0 48px;
    max-width: 93%;
  }

  @media (max-width: 1100px) {
    margin: 0;
    max-width: 100%;
  }

  @include m.mobile {
    display: none;
  }
}

.mobGallery {
  display: none;

  @include m.mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 22px;
  }

  @media (max-width: 360px) {
    margin: 0 12px;
  }
}
