@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.titleBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;

  @include m.mobile {
    flex-direction: column;
    align-items: start;
  }
}
