@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  color: v.$pure;

  @include m.large-tablet {
    align-items: flex-start;
  }
}

.text {
  text-align: end;

  @include m.large-tablet {
    text-align: start;
  }
}
