@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.mainBlock {
  position: relative;
  height: 100%;
  width: 57.7%;
  border-radius: 16px;
  overflow: hidden;

  @include m.small-desktop {
    width: 81%;
  }

  @include m.tablet {
    width: 102.4%;
  }

  @include m.mobile {
    width: 100%;
  }
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerTxtBlock {
  position: absolute;
  padding: 24px;
  background-color: v.$primary;
  width: 100%;
  top: 200px;
  color: v.$pure;

  @include m.large-tablet {
    padding: 16px;
    top: 160px;
  }

  @include m.mobile {
    padding: 24px 16px;
    top: 200px;
  }

  @media (max-width: 360px) {
    padding: 16px;
    top: 200px;
    border-radius: 16px;
  }
}

.btnWrapp {
  display: flex;
  width: 244px;
  margin-top: 32px;

  @include m.large-tablet {
    margin-top: 24px;
  }

  @include m.mobile {
    width: 100%;
  }
}
