@use "@/shared/styles/mixins" as m;

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @include m.tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include m.mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
