@use "@/shared/styles/variables" as v;

.btnWrapp {
  width: 100%;
  height: 48px;
  color: v.$text;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 100%;
  height: inherit;
  white-space: nowrap;
}

.yellow {
  background-color: v.$accent;
  transition: background-color v.$transition, box-shadow v.$transition;

  &:hover {
    box-shadow: v.$accent-shadow;
  }

  &:active {
    background-color: v.$accent-dark;
  }
}

.transparent {
  background-color: transparent;
  border: 2px solid v.$text;
  transition: background-color v.$transition, border v.$transition,
    box-shadow v.$transition;

  &:hover {
    background-color: v.$accent;
    box-shadow: v.$accent-shadow;
    border: none;
  }

  &:active {
    background-color: v.$accent-dark;
    border: none;
  }
}

.txtWrapp {
  display: flex;
  gap: 8px;
}

.reverse {
  flex-direction: row-reverse;
}