@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.pageWrapp {
  margin-top: 99px;
  padding-top: 120px;

  @include m.large-tablet {
    margin-top: 95px;
    padding-top: 80px;
  }

  @include m.mobile {
    margin-top: 84px;
    padding-top: 72px;
  }
}

.formBlocksWrapp {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @include m.large-tablet {
    gap: 54px;
  }

  @include m.mobile {
    gap: 40px;
  }
}

.saveBtnWrapp {
  margin-top: 40px;
  width: 271px;
  margin-bottom: 80px;
  margin-left: auto;

  @include m.large-tablet {
    margin-bottom: 54px;
  }

  @include m.mobile {
    width: 100%;
    margin-bottom: 40px;
  }
}

.permissionWrapp {
  background-color: v.$pure;
  box-shadow: v.$shadow;
  border-radius: 16px;
  padding: 24px 16px;
}

.submitBtnWrapp {
  width: 219px;

  @include m.mobile {
    width: 100%;
  }
}
