.pageWrapp {
  margin-top: 99px;
  padding-top: 120px;

  @media (max-width: 989px) {
    margin-top: 95px;
    padding-top: 80px;
  }

  @media (max-width: 550px) {
    margin-top: 84px;
    padding-top: 72px;
  }
}

.formBlocksWrapp {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (max-width: 989px) {
    gap: 54px;
  }

  @media (max-width: 550px) {
    gap: 40px;
  }
}

.saveBtnWrapp {
  margin-top: 40px;
  width: 271px;
  margin-bottom: 80px;
  margin-left: auto;

  @media (max-width: 989px) {
    margin-bottom: 54px;
  }

  @media (max-width: 550px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.permissionWrapp {
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 16px;
  padding: 24px 16px;
}

.submitBtnWrapp {
  width: 219px;

  @media (max-width: 550px) {
    width: 100%;
  }
}
