.pageWrapp {
  margin-top: 99px;
  padding-top: 120px;

  @media (max-width: 989px) {
    margin-top: 95px;
    padding-top: 80px;
  }

  @media (max-width: 550px) {
    margin-top: 84px;
    padding-top: 72px;
  }
}

.formBlocksWrapp {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (max-width: 989px) {
    gap: 54px;
  }

  @media (max-width: 550px) {
    gap: 40px;
  }
}
