@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.privacyPolecyWrapp {
  margin-top: 32px;
}

.checkboxAndPrivacyPolicyWrapp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: 989px) {
    grid-template-columns: 1fr;
  }
}

.blockWrapp {
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 24px 16px;
  border-radius: 16px;
}

.btnWrapp {
  margin-top: 40px;
  width: 155px;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.checkboxWrapp {
  display: flex;
  justify-content: space-between;
  gap: 6px;

  @media (max-width: 989px) {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
  }

  @media (max-width: 550px) {
    gap: 16px;
  }
}
