@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.privacyPolecyWrapp {
  margin-top: 32px;
}

.checkboxAndPrivacyPolicyWrapp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @include m.large-tablet {
    grid-template-columns: 1fr;
  }
}

.blockWrapp {
  background-color: v.$pure;
  box-shadow: v.$shadow;
  padding: 24px 16px;
  border-radius: 16px;
}

.btnWrapp {
  margin-top: 40px;
  width: 155px;

  @include m.mobile {
    width: 100%;
  }
}

.checkboxWrapp {
  display: flex;
  justify-content: space-between;
  gap: 6px;

  @include m.large-tablet {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
  }

  @include m.mobile {
    gap: 16px;
  }
}
