@use "@/shared/styles/mixins" as m;

.error {
  font-size: 16px;
  position: relative;
  top: -10px;
  margin-bottom: 15px;
  color: red;
}

.formWrapp {
  width: 568px;
  padding: 40px 32px;
  max-width: 90vw;

  @include m.mobile {
    padding: 24px 16px;
  }
}

.inputsWrapp {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.forgotTxt {
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 32px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.33px;
}

.br{
  @include m.mobile {
    display: none;
  }
}

