@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(34% - 16px);
  position: sticky;
  top: 0px;
  align-self: start;

  @include m.large-tablet {
    position: static;
    flex-direction: column;
    top: auto;
    width: 100%;
  }
}

.infoBlock {
  padding: 24px 16px;
  border-radius: 16px;
  background: v.$pure;
  box-shadow: v.$shadow;
  color: v.$primary;
}

.titleBlock {
  margin-bottom: 24px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  color: v.$text;
}

.detailsItem {
  display: flex;

  align-items: center;
  gap: 16px;
  width: 100%;

  @include m.large-tablet {
    width: 48%;
  }

  @media (max-width: 680px) {
    width: 100%;
  }
}

.titleDetailsBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 61%;
}

.secondTitleBlock {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.brnsWrapp {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @include m.large-tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include m.mobile {
    grid-template-columns: 1fr;
  }
}
