@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.documentsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 12px;

  @include m.mobile {
    flex-direction: column;
    gap:12px
  }
}

.link {
  color: v.$pure;
  transition: color v.$transition;

  @include m.mobile {
    text-decoration: underline;
  }

  &:hover {
    color: v.$accent;
  }
}

