@use "@/shared/styles/mixins" as m;

.wrapper {
  padding: 40px 32px;
  width: 568px;
  max-width: 90vw;

  @include m.mobile {
    padding: 24px 16px;
  }
}

.titleWrapp {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}
