@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.wrapper {
  position: fixed;
  width: 100%;
  top: 80%;
  max-width: 1600px;
  z-index: 3;
}

.modalContainer {
  position: relative;
  width: 100%;
  padding: 24px 32px;
  padding-right: 67px;
  background-color: $pure;
  border-radius: 16px;
  box-shadow: $shadow;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;

@media (max-width: 750px) {
   flex-direction: column;
   padding: 40px 16px 16px;
   gap:16px;
    }
}

.close {
cursor: pointer;
  position: absolute;
  top: 24px;
  right: 32px;

  @media (max-width: 550px) {
    top: 16px;
    right: 16px;
  }
}

.txtBlock {
  display: flex;
  align-items: center;
  gap: 25px;

  @media (max-width: 989px) {
    gap: 16px;
    align-items: flex-start;
  }
}

.svg {
  width: 77.5px;
  height: auto;

  @media (max-width: 550px) {
    width: 56px;
  }
}

.link{
    color:$primary;
    text-decoration: underline;
}

.btnWrapp {
  width: 215px;
  flex-shrink: 0;

  @media (max-width: 750px) {
    width: 100%;
  }
}
