@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  @include m.large-tablet {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  background-color: v.$pure;
  box-shadow: v.$shadow;
  border-radius: 16px;
}

.item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 2px solid v.$text;
}

.descrWrapp {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
