@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.selectContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nativeSelect {
  position: absolute;
  inset: 0;
  opacity: 0; 
  pointer-events: none; 
  width: 100%;
  height: 100%;
  z-index: 2;
}

.label {
  color: v.$neutral-dark;
  text-transform: lowercase;
}

.select {
  cursor: pointer;
  width: 100%;
  padding: 4px 12px;
  border: none;
  border-bottom: 2px solid v.$neutral-medium;
  box-shadow: v.$input-shadow;
  background-color: transparent;
  outline: none;

  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.48px;
  color: #11181c;
}

.borderedSelect {
  padding: 8px 20px;
  border-radius: 9999px;
  border: 2px solid v.$neutral-medium;

  @include m.large-tablet {
    padding: 10px 20px;
  }
}

.svg {
  position: absolute;
  top: 50%;
  right: 12px;
  transition: transform v.$transition;
}

.borderedSelect .svg {
  right: 20px;
  top: 58%;
}

.openSvg {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  background-color: v.$pure;
  width: 100%;
  border-radius: 14px;
  padding: 8px 0;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  color: #11181c;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
  top: 100%;
  right: 0;
}

.option {
  padding: 6px 16px;
  transition: background-color v.$transition;

  &:hover {
    background-color: v.$neutral-medium;
  }
}
