@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: stretch;

  @include m.large-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.mobile {
    grid-template-columns: 1fr;
  }
}

.title {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 46px;
  text-transform: uppercase;
}

.card {
  border-radius: 16px;
  background-color: v.$pure;
  box-shadow: v.$shadow;
  padding: 32px 16px;

  @include m.mobile {
    padding: 24px 16px;
  }
}

.title {
  margin: 0 0 48px;
  font-size: 20px;
}

.titleShowroom {
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 32px;
    margin: 0 0 80px;
  }
}

.deliveryPaddingFix {
  @media (min-width: 1024px) {
    padding-bottom: 60px !important;
  }
}
