@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.aside {
    width: 100%;
}

.tabAside {
  @include m.large-tablet {
    display: none;
  }
}

.titleBlock {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeSvg {
  display: none;

  @include m.large-tablet {
    display: block;
    width: 24px;
    height: 24px;
    stroke: #52525b;
  }
}

.nawWrapp {
  border-radius: 16px;
  background-color: v.$primary;
  box-shadow: v.$primary-shadow;
  padding: 16px 0;
  color: v.$pure;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin: 0 16px;
  border-bottom: 2px solid v.$pure;
  transition: color v.$transition;

  &:hover {
    color: v.$accent;
  }
}

.active {
  padding: 12px 28px;
  margin: 0;
  background-color: v.$pure;
  color: v.$text;
  border-radius: 4px;
}

.disabled {
  color:#FFFFFF80;
   &:hover {
    color: #ffffff80;
  }
}

.svg {
  width: 24px;
  height: 24px;
}

.logOutBtn {
  width: 100%;
  color: v.$pure;
}
