@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.linksList {
  display: flex;
  gap: 24px;

  @include large-tablet {
    gap: 16px;
  }

  @media (max-width: 800px) {
    gap: 10px;
  }

  @include tablet {
    display: none;
  }
}

.link {
  transition: color $transition;

  &:hover {
    color: $primary;
  }

  @media (max-width: 868px) {
    font-size: 12px;
  }
}

.isActive {
  color: $primary;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 22px;
  left: -18px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16px);
  padding: 8px 17px;
  min-width: 180px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
