@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.txtBlock {
  background-color: v.$primary;
  box-shadow: v.$primary-shadow;
  border-radius: 16px;
  padding: 32px;
  color: v.$pure;
  margin-bottom: 40px;

  @include m.large-tablet {
    margin-bottom: 32px;
  }

  @include m.tablet {
    margin-bottom: 16px;
  }
}

.title {
  margin-bottom: 32px;

  @include m.mobile {
    margin-bottom: 24px;
  }
}
