@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.txtBlock {
  background-color: $primary;
  box-shadow: $primary-shadow;
  border-radius: 16px;
  padding: 32px;
  color: $pure;
  margin-bottom: 40px;

  @media (max-width: 989px) {
    margin-bottom: 32px;
  }

  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.title {
  margin-bottom: 32px;

  @media (max-width: 550px) {
    margin-bottom: 24px;
  }
}
