@use "@/shared/styles/variables" as v;

.favoriteBtn {
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
}

.backgrounfBtn {
  border-radius: 8px;
  background: rgba(35, 35, 35, 0.5);
  padding: 8px;
}

.absoluteSvg {
  stroke: v.$primary;
  transition: fill v.$transition;

  &:hover {
    fill: #5120b8;
  }
}

.reserved {
  width: 100px;
  height: auto;
  position: absolute;
  top: -16px;
  right: -16px;
}
