@use "./mixins" as m;
@use "./variables" as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: v.$text;
  background-color: v.$bg;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;

  @include m.large-tablet {
    max-width: 860px;
  }

  @include m.tablet {
    max-width: 688px;
  }

  @include m.mobile {
    width: 100%;
  }
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.96px;
  margin-bottom: 80px;

  @include m.mobile {
    font-size: 24px;
    letter-spacing: -0.72px;
    margin-bottom: 48px;
  }
}

.titleMedium,
.titleSmall,
.titleTiny,
.text {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.titleMedium {
  font-size: 20px;
  letter-spacing: -0.6px;
}

.titleSmall {
  font-size: 14px;
  letter-spacing: -0.42px;
}

.titleTiny {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.48px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
}

.textLarge {
  font-family: "Metrophobic", sans-serif;
  font-size: 18px;

  @include m.large-tablet {
    font-size: 17px;
  }

  @include m.mobile {
    font-size: 16px;
  }
}

.textMedium {
  font-family: "Metrophobic", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @include m.large-tablet {
    line-height: 1.375;
  }

  @include m.mobile {
    line-height: normal;
  }
}

.textSmall {
  font-family: "Metrophobic", sans-serif;
  font-size: 14px;
  line-height: 1.43;
}

.textTiny {
  font-family: "Metrophobic", sans-serif;
  font-size: 12px;
  line-height: 1;
}

.btnText {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.section {
  padding-bottom: 120px;

  @include m.large-tablet {
    padding-bottom: 100px;
  }

  @include m.mobile {
    padding-bottom: 72px;
  }
}

.img {
  width: 100%;
  height: auto;
}
