@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.modalWodalWrapp {
  width: 784px;
  height: 505px;
  overflow: hidden;
  border-radius: 32px;
  padding: 16px;
  background-color: v.$pure;

  @include m.large-tablet {
    width: 688px;
    height: 443px;
  }

  @include m.tablet {
    width: 90vw;
    height: 443px;
  }

  @include m.mobile {
    width: 90vw;
    height: 330px;
  }
}

.modalContent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}
