@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.modalWodalWrapp {
  width: 784px;
  height: 505px;
  overflow: hidden;
  border-radius: 32px;
  padding: 16px;
  background-color: var(--white);

  @media (max-width: 989px) {
    width: 688px;
    height: 443px;
  }

  @media (max-width: 768px) {
    width: 90vw;
    height: 443px;
  }

  @media (max-width: 550px) {
    width: 90vw;
    height: 330px;
  }
}

.modalContent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}
