@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.auctionInfo {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 22px;
  align-items: center;
  margin-bottom: 12px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  gap: 6px;
    margin-bottom: 6px;
}

.rowRight {
  display: flex;
  align-items: center;
  gap: 10px;
  // justify-content: flex-end;
  text-align: right;
  margin-bottom: 6px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: #5120B8;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.value {
  font-size: 18px;
  font-weight: 600;
  color: #5120B8;
  text-transform: uppercase;
}

.value2 {
  font-size: 14x;
  font-weight: 500;
  color: #5120B8;
  text-transform: uppercase;
}

.icon {
  width: 18px;
  height: 18px;
  fill: #f5a623;
}


.wrapp {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: v.$pure;
  box-shadow: v.$shadow;
  max-width: 272px;

  @include m.small-desktop {
    max-width: 336px;
  }

  @include m.mobile {
    max-width: 100%;
  }
}

.imgBlock {
  width: 100%;
  height: 204px;
  border-radius: 8px 8px 0px 0px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstInfo {
  display: block;
  position: relative;
  padding: 16px;
  margin-top: -8px;
  background-color: v.$primary;
  border-radius: 8px 8px 0px 0px;
  color: v.$pure;
  transition: background-color v.$transition;

  &:hover {
    background-color: v.$accent;

    .arr {
      fill: v.$primary;
    }
  }

  @include m.large-tablet {
    padding: 12px;
    padding-bottom: 28px;
  }
}

.modelWrap {
  width: 100%;
  margin-top: 4px;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: space-between;
  transition: fill v.$transition;
}

.arr {
  margin-right: -8px;
  flex-shrink: 0;
  fill: v.$accent;

  @include m.small-desktop {
    margin-right: 0;
  }
}

.secondInfo {
  position: relative;
  z-index: 1;
  padding: 16px;
  margin-top: -6px;
  background-color: v.$pure;
  border-radius: 8px;
  color: v.$primary;

  @include m.large-tablet {
    padding: 12px;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.chips {
  display: flex;
  margin-top: 16px;
  gap: 8px;
  margin-bottom: 32px;
}

.chip {
  border-radius: 34px;
  background-color: v.$neutral-light;
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
}
