@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 8px 0;

  @include m.large-tablet {
    gap: 40px;
  }

  @include m.mobile {
    gap: 8px;
  }
}

.filterBtn {
  position: relative;
  cursor: default;

  @include m.large-tablet {
    cursor: pointer;
  }
}

.container {
  position: absolute;
  top: 80px;
  left: 0;
  width: 272px;
  background-color: v.$pure;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 32px 16px;
  border-radius: 16px;

  @include m.large-tablet {
    width: 94vw;
    max-width: 860px;
    z-index: 2;
    height: 72vh;
    top: 50px;
  }

  @include m.tablet {
    max-width: 688px;
    height: 80vh;
  }

  @include m.mobile {
    padding: 24px 16px;
  }
}

.filtersWrapp {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include m.large-tablet {
    gap: 8px;
    height: 83%;
    overflow-y: scroll;

    padding-right: 12px;
    scrollbar-width: thin;
    scrollbar-color: v.$primary #bbb;
  }

  @include m.tablet {
    height: 75%;
  }

  @include m.mobile {
    height: 62%;
  }
}

.filtersWrapp::-webkit-scrollbar {
  width: 4px;
}

.filtersWrapp::-webkit-scrollbar-track {
  background-color: #bbb;
  border-radius: 10px;
}

.filtersWrapp::-webkit-scrollbar-thumb {
  background-color: v.$primary;
  width: 4px;
  border-radius: 10px;
}

.btnsWrapp {
  margin-top: 32px;
  display: flex;
  gap: 12px;

  @include m.mobile {
    flex-direction: column;
  }
}

.btnWrapp {
  display: none;

  @include m.large-tablet {
    display: block;
    width: 100%;
  }
}

.iconWrapper {
  position: relative;
}

.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -9px;
  right: -9px;
  width: 20px;
  height: 20px;
  background-color: v.$accent;
  font-weight: 400;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: v.$pure;
  font-family: "Metrophobic", sans-serif;
  font-size: 12px;
  z-index: 1;
}
