@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sortBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  background-color: transparent;
  border: none;
}

.txt {
  color: v.$primary;

  @include m.tablet {
    display: none;
  }
}
