@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include m.large-tablet {
    gap: 8px;
  }

  @include m.mobile {
    gap: 12px;
  }
}

.btn {
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.mainWrapp {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.pageBtn {
  padding: 8px 12px;
  border-radius: 8px;
  transition: color v.$transition, background-color v.$transition,
    border v.$transition;
  border: 1px solid transparent;

  @include m.mobile {
    padding: 4px 8px;
  }

  &:hover {
    background-color: v.$primary-light;
    border: 1px solid v.$primary;
  }
}

.active {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #6200ea;
  color: v.$pure;
  border: 1px solid transparent;

  @include m.mobile {
    padding: 4px 8px;
  }
}

.dots {
  padding: 8px 16px;
}

.txt {
  @include m.mobile {
    display: none;
  }
}
