@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;

  @include m.large-tablet {
    grid-template-columns: 1fr;
    gap: 54px;
  }

  @include m.mobile {
    gap: 56px;
  }
}

.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include m.large-tablet {
    gap: 16px;
  }
}

.infoBlocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include m.large-tablet {
grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  @media (max-width: 640px) {
grid-template-columns: 1fr;
  }
}

.blockWrapp {
  background-color: v.$primary;
  color:v.$pure;
  border-radius: 16px;
  padding: 40px 32px;
  box-shadow: v.$primary-shadow;

  @include m.large-tablet {
    padding: 32px 24px;
  }
}

.iconWithTextBlock{
    display: flex;
    align-items: center;
    gap:8px;
}

.svg{
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    @include m.large-tablet {
        width: 32px;
        height: 32px;
    }
}

.hours{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-top: 16px;
}

.contactsList{
    display: flex;
        flex-direction: column;
        gap: 8px;
}

.link{
transition: color v.$transition;

&:hover{
    color: v.$accent
}
}

.txt{
    text-transform: none;
}

.mapWrapp{
    width: 100%;
    height: 100%;
    border-radius: 16px;

    @include m.large-tablet {
        height: 222px;
    }
}

.map{
    width: 100%;
    height: 100%;
    border: none;
        border-radius: 16px;
}