@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.teamList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 40px;

  @include m.large-tablet {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
  }

  @media (max-width: 660px) {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
}

.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 8px;
  background: #f3f4f6;
  box-shadow: v.$shadow;
}

.txtBlock {
  padding: 25px 6px 17px 22px;
  width: 52.2%;

  @media (max-width: 1570px) {
    width: 80%;
  }

  @include m.large-tablet {
    width: 62%;
  }

  @media (max-width: 750px) {
    width: 82%;
  }

  @media (max-width: 660px) {
    width: 66%;
  }

  @media (max-width: 340px) {
    padding-left: 8px;
  }
}

.imgBlock {
  background-color: v.$pure;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 0 8px 8px 0;

  @media (max-width: 660px) {
    width: 187px;
  }
}

.img {
  width: 100%;
  height: auto;
}

.btn {
  width: 259px;

  @include m.mobile {
    width: 100%;
  }
}
