@import "@/shared/styles/variables";

.info {
  background-color: $pure;
  box-shadow: $shadow;
  border-radius: 8px;
  padding: 24px 16px;
  height: 100%;
}

.txtBlock {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.btnsWrapp {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  color: $primary;
  text-decoration: underline;
}
