@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.videoFrameBlock {
  width: 752px;
  height: 546px;
  position: relative;
}

.videoFrame {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.mainMedia {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 546px;

  @include m.large-tablet {
    height: 499px;
  }

  @include m.mobile {
    height: 243px;
  }
}

.scrollableSlides {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  width: 100%;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.videoImgBlock {
  position: relative;
  height: 100%;
}

.mainVideoSvgBlock {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1;
  border-radius: 8px;
  background: rgba(35, 35, 35, 0.5);
  color: v.$pure;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;

  @media (min-width: 1600px) {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

@media (min-width: 1600px) {
  .mainMedia:hover .mainVideoSvgBlock {
    opacity: 1;
  }
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prevBtn {
  left: 16px;
}

.nextBtn {
  right: 16px;
}

.numeration {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 1;
  border-radius: 8px;
  background: rgba(35, 35, 35, 0.5);
  color: v.$pure;
  padding: 8px;

  @media (min-width: 1600px) {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
@media (min-width: 1600px) {
  .mainMedia:hover .numeration {
    opacity: 1;
  }
}

.paginationButtons {
  @media (min-width: 1600px) {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

@media (min-width: 1600px) {
  .mainMedia:hover .paginationButtons {
    opacity: 1;
  }
}

.favoriteButton {
  @media (min-width: 1600px) {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

@media (min-width: 1600px) {
  .mainMedia:hover .favoriteButton {
    opacity: 1;
  }
}
