@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(100% - 560px - 16px);
  position: sticky;
  top: 0px;
  align-self: start;

  @include m.large-tablet {
    position: static;
    flex-direction: column;
    top: auto;
    width: 100%;
  }
}

.auctionInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
    font-family: "Work Sans", sans-serif;
  // margin-bottom: 16px;
}

.auctionInfoBlock {
  background-color: v.$primary;
  padding: 24px 16px;
  border-radius: 16px;
  box-shadow: v.$shadow;
  color: v.$pure;
}

.auctionInfoBlockTitle {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
    text-transform: uppercase;
    margin-bottom: 54px;
            letter-spacing: -0.5px;
}

.auctionInfoBlockValue {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
    // letter-spacing: 1px;
    margin-bottom: 48px;
            letter-spacing: -0.5px;
}

.priceWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.infoBlock {
  padding: 24px 16px;
  border-radius: 16px;
  background: v.$pure;
  box-shadow: v.$shadow;
  color: v.$primary;
}

.titleBlock {
  // margin-bottom: 24px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  color: v.$text;
}

.detailsItem {
  display: flex;

  align-items: center;
  gap: 16px;
  width: 100%;

  @include m.large-tablet {
    width: 48%;
  }

  @media (max-width: 680px) {
    width: 100%;
  }
}

.titleDetailsBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 61%;
}

.secondTitleBlock {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.brnsWrapp {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @include m.large-tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include m.mobile {
    grid-template-columns: 1fr;
  }
}
