@use "@/shared/styles/mixins" as m;

.wrapper {
  padding-top: 100px;

  @include m.large-tablet {
    padding-top: 80px;
  }

  @include m.mobile {
    padding-top: 60px;
  }
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: start;

  @media (max-width: 660px) {
    grid-template-columns: 1fr;
  }
}
