@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  margin-top: 99px;
  padding-top: 100px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: stretch;

  @include m.large-tablet {
    margin-top: 95px;
    padding-top: 80px;
    grid-template-columns: 1fr;
    // align-items: flex-start;
  }

  @include m.mobile {
    margin-top: 84px;
    padding-top: 60px;
    padding-bottom: 56px;
  }
}

.txtBlock {
  border-radius: 16px;
  background-color: v.$primary;
  padding: 40px 32px;
  color: v.$pure;

  @include m.mobile {
    padding: 32px 16px;
  }
}

.title {
  margin-bottom: 48px;

  @include m.mobile {
    margin-bottom: 40px;
  }
}

.btnWrapp {
  display: flex;
  width: 303px;
  margin-top: 40px;

  @include m.mobile {
    width: 100%;
    margin-top: 36px;
  }
}

.imgBlock {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  border-radius: 16px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: top;

  @include m.large-tablet {
    height: revert-layer;
  }

  @include m.mobile {
    height: auto;
  }
}
