@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  color: $neutral-dark;
  text-transform: lowercase;
}

.input {
  width: 100%;
  padding: 4px 12px;
  border: none;
  border-bottom: 2px solid $neutral-medium;
  box-shadow: $input-shadow;
  background-color: transparent;
  outline: none;

  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.48px;
  color: #11181c;
}

.borderedInput {
  padding: 8px 20px;
  border-radius: 9999px;
  border: 2px solid $neutral-medium;

  @media (max-width: 989px) {
    padding: 10px 20px;
  }
}

.togglePassword {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.borderedSelect .togglePassword {
  right: 20px;
}
