@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.overlay {
  position: fixed;
  background-color: v.$overlay;
  backdrop-filter: blur(3px);
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow-x: hidden;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$pure;
  border-radius: 16px;
  margin: 0 36px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 32px;
}
