.wrapp {
  position: relative;
  border-radius: 8px;
  background: var(--white);
  box-shadow: var(--shadow);
  max-width: 272px;

  @media (max-width: 1360px) {
    max-width: 336px;
  }

  @media (max-width: 550px) {
    max-width: 100%;
  }
}

.favoriteBtn {
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
}

.absoluteSvg {
  stroke: var(--purple);
  transition: fill var(--transition);

  &:hover {
    fill: #5120b8;
  }
}

.imgBlock {
  width: 100%;
  height: 204px;
  border-radius: 8px 8px 0px 0px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstInfo {
  display: block;
  position: relative;
  padding: 16px;
  margin-top: -8px;
  background-color: var(--purple);
  border-radius: 8px 8px 0px 0px;
  color: var(--white);

  @media (max-width: 989px) {
    padding: 12px;
    padding-bottom: 28px;
  }
}

.modelWrap {
  width: 100%;
  margin-top: 4px;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: space-between;
}

.arr {
  margin-right: -8px;

  @media (max-width: 1360px) {
    margin-right: 0;
  }
}

.secondInfo {
  position: relative;
  z-index: 1;
  padding: 16px;
  margin-top: -6px;
  background-color: var(--white);
  border-radius: 8px;
  color: var(--purple);

  @media (max-width: 989px) {
    padding: 12px;
  }
}

.chips {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}

.chip {
  border-radius: 34px;
  background-color: var(--light-grey);
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
}
