@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.container{
    width: 100%;
    background-color: $pure;
    box-shadow: $shadow;
    border-radius: 16px;
    padding: 24px 16px;

}

.inputsWrapp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:16px;
    row-gap: 12px;

    @media (max-width:660px) {
        grid-template-columns: 1fr;
    }
}
