@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  margin-top: 99px;
  padding-top: 100px;
  min-height: 70vh;

  @include m.large-tablet {
    margin-top: 95px;
    padding-top: 80px;
  }

  @include m.mobile {
    margin-top: 84px;
    padding-top: 72px;
  }
}

.favoritesWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include m.large-tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include m.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.mobile {
    grid-template-columns: 1fr;
  }
}

.btnWrapp {
  display: flex;
  margin-top: 60px;
  width: 285px;

  @include m.mobile {
    margin-top: 40px;
    width: 100%;
  }
}
