@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.status {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
}

.statusText {
  color: #232323;
}

.statusDescription {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
  font-weight: 400;
}

.wrapper {
  position: relative;
  //margin-top: 99px;
  padding-top: 64px;
  display: grid;
  grid-template-columns: 31% auto;
  gap: 32px;

  @include m.large-tablet {
    //margin-top: 95px;
    grid-template-columns: 1fr;
  }

  @include m.mobile {
    //margin-top: 84px;
    padding-top: 54px;
  }
}

.main {
  margin-top: 55px;

  @include m.large-tablet {
    margin-top: 0;
  }
}

.inputsWrapper {
  padding: 16px;
  border-radius: 16px;
  background-color: v.$pure;
  box-shadow: v.$shadow;
}

.personalDetailsWrapp{
  margin-top: 12px;
}


