@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 47vw;
  max-width: 752px;

  @media (max-width: 1470px) {
    width: 42vw;
  }

  @media (max-width: 1360px) {
    width: 57vw;
  }

  @media (max-width: 989px) {
    width: 100%;
    max-width: 100%;
  }
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 118px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.videoImgBlock {
  position: relative;
  height: 100%;
}

.miniImg {
  border-radius: 8px;
}

.logoYoutube {
  position: absolute;
  top: 50%;
  right: 50%;

  transform: translate(50%, -50%);
}

.active .miniImg {
  border: 1px solid var(--purple);
}

.thumbnailContainer {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  width: 100%;
  padding-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--purple) #bbb;
}

.thumbnailContainer::-webkit-scrollbar {
  width: 8px;
}

.thumbnailContainer::-webkit-scrollbar-track {
  background-color: #bbb;
  border-radius: 10px;
}

.thumbnailContainer::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  width: 8px;
  border-radius: 10px;
}
