@use "@/shared/styles/mixins" as m;

.wrapper {
  margin-top: 99px;
  padding-top: 100px;
  padding-bottom: 120px;

  @include m.large-tablet {
    margin-top: 95px;
    padding-top: 60px;
  }

  @include m.mobile {
    margin-top: 84px;
    padding-top: 54px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.addWrapp {
  border-radius: 16px;
  border: 1px solid #000;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
