@use "@/shared/styles/mixins" as m;

.wrapper {
  //margin-top: 65px;
  padding-top: 65px;
  padding-bottom: 120px;

  @include m.large-tablet {
    //margin-top: 95px;
    padding-top: 60px;
  }

  @include m.mobile {
    //margin-top: 84px;
    padding-top: 54px;
  }
}

.title {
  font-family: "Blatant", sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 54px;

  @include m.large-tablet {
    font-size: 52px;
    margin-bottom: 44px;
  }

  @media (max-width: 959px) {
    margin-bottom: 44px;
  }

  @media (max-width: 767px) {
    font-size: 36px;
    margin-bottom: 48px;
  }

  @media (max-width: 479px) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}
.br {
  @include m.tablet {
    display: none;
  }
}

.contetntWrapp {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: stretch;
  height: 440px;
  gap: 16px;

  @include m.large-tablet {
    height: 336px;
  }

  @include m.mobile {
    height: 400px;
  }
}
