@use "@/shared/styles/mixins" as m;
@use "@/shared/styles/variables" as v;

.wrapper {
  @include m.tablet {
    display: flex;
    gap: 28px;
    align-items: center;
  }

  @include m.mobile {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;

  @include m.large-tablet {
    gap: 12px;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 39px;
  border-radius: 46px;
  border: 2px solid v.$primary-accent;
  transition: background-color v.$transition, box-shadow v.$transition;

  &:hover {
    background-color: v.$primary-light;
    box-shadow: v.$primary-shadow;
  }
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 39px;
  padding: 0 15px;
  border-radius: 55px;
  border: 2px solid v.$primary-accent;
  transition: background-color v.$transition, box-shadow v.$transition;

  &:hover {
    background-color: v.$primary-light;
    box-shadow: v.$primary-shadow;
  }

  @include m.small-desktop {
    padding: 0 10px;
  }

  @media (max-width: 932px) {
    width: 40px;
  }
}

.name {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
  color: v.$primary-accent;

  @media (max-width: 932px) {
    display: none;
  }
}
