@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.wrapper {
  @include tablet {
    display: flex;
    gap: 28px;
    align-items: center;
  }

  @include mobile {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;

  @include large-tablet {
    gap: 12px;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 39px;
  border-radius: 46px;
  border: 2px solid $primary-accent;
  transition: background-color $transition, box-shadow $transition;

  &:hover {
    background-color: $primary-light;
    box-shadow: $primary-shadow;
  }
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 39px;
  padding: 0 15px;
  border-radius: 55px;
  border: 2px solid $primary-accent;
  transition: background-color $transition, box-shadow $transition;

  &:hover {
    background-color: $primary-light;
    box-shadow: $primary-shadow;
  }

  @include small-desktop {
    padding: 0 10px;
  }

  @media (max-width: 932px) {
    width: 40px;
  }
}

.name {
  color: $primary-accent;

  @media (max-width: 932px) {
    display: none;
  }
}
